doctype html
html(lang="uk")
  head
    meta(charset="UTF-8")
    title= title
    link(rel="stylesheet", href="/styles.css")
    link(rel="icon", href="/favicon.ico")
  body
    .container
      h1 Список користувачів

      ul.card-list
        each user in users
          li.card
            h2= user.name
            p Email: #{user.email}
            a(href=`/users/${user.id}`) Детальніше